<div th:fragment="header">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">

            <h3 class="float-md-start mb-0">Cover</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/blog">Features</a>
                <a class="nav-link" href="/blog/add">Create News</a>
                <a class="nav-link" href="/contant">Contact</a>
            </nav>
    </header>
</div>

</div>